.logo-img{
    width: 400px;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.logo{
    height: 100%;
    width: 200px;
    
}
.nav-links{
    justify-content: center;
    align-items: center;
    
}

.nav-links a{
    font-family: Roboto;
    font-weight: 600;
    color: white;

}

